@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
}
/* body {
} */

.navbar {
  background-color: #c4e2ff;
  border-bottom: 1px solid black;
  position: sticky;
  z-index: 100;
  top: 0;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar_image img {
  height: 25px;
}

.navbar_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_links li {
  margin-right: 30px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.navbar_links Button {
  background-color: rgb(17, 17, 17);
  color: white;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 10px;
}

.navbar_links Button:hover {
  background-color: rgb(17, 17, 17);
}

.hero_container {
  height: 400px;
  background-color: #c4e2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.hero_container .hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_container .hero_left {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.hero_container .hero_left .hero_title {
  margin: 0px 10px 25px 10px;
  font-weight: 700;
  font-size: 3.5rem;
}

.hero_container .hero_left .hero_subtitle {
  font-size: 16px;
  margin: 0px 10px 20px 10px;
}

.hero_container .hero_left Button {
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  border-radius: 25px;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid rgb(17, 17, 17);
}
.hero_container .hero_left Button a{
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.hero_container .hero_right img {
  height: 400px;
}

/* form {
  margin-bottom: 100px;
} */

.forms {
  margin: 15px 10px;
}

.blog_title {
  margin-top: 40px;
}

.forms span {
  margin-bottom: 10px;
  display: inline-block;
}

.forms input {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  padding: 10px;
}
.forms .post_input_title {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  border-left: 0.5px solid rgb(184, 182, 182);
  font-weight: 600;
  color: rgb(31, 31, 31);
}
.forms .post_input_description {
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  border-left: 0.5px solid rgb(184, 182, 182);
}
.forms .post_input_image {
  
  font-family: "Montserrat", sans-serif;
  color: rgb(31, 31, 31);
  border-left: 0.5px solid rgb(184, 182, 182);
}

.blog_paragraph textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
  height: 100vh;
  line-height: 32px;
}

.blog_paragraph textarea::-webkit-scrollbar {
  display: none;
}

.button_wrapper Button {
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 50px;
  margin-right: 10px;
  transform: translateX(10px);
  font-family: "Montserrat", sans-serif;
}

.button_wrapper Button:hover {
  background-color: rgb(17, 17, 17);
}

.navbar_postwriting {
  position: sticky;
  top: 0;
  background-color: white;
}
.wrapper_post_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav_post_right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_post_right Button {
  background-color: #1a8917;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}
.nav_post_right Button:hover {
  background-color: #126610;
  color: white;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top:50px; */
  margin-right: 25px;
}

.posting_image {
  height: 350px;
  margin: 50px 0 50px 10px;
}



.image input[type="file"] {
 display: none;
}
.image label{
  border: 1.5px solid rgb(34, 34, 34);
  width: 40px;
  height: 40px;
  background-color: white;
  padding-top: 3px;
  
  border-radius:50%;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}


/* blog styling */

.blog_wrapper {
  margin-top: 20px;
  padding: 15px 5px;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  width: 700px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.blog_wrapper:hover {
  background-color: whitesmoke;
}

.blog_main_right {
  margin-right: 10px;
}

.blog_main_name {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #292929;
  padding: 0px 0px 12px 0px;
}

.blog_main_title {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  color: #292929;
  padding: 0px 0px 7px 0px;
  font-weight: 700;
}

.blog_main_description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  padding: 0px 0px 7px 0px;
}

.blog_main_timestamps {
  width: 100%;
  color: #757575;
  font-size: 11px;
  font-weight: 500;
  padding: 0px 0px 7px 0px;
}
/* .blog_main_timestamps .date{
  
} */
.blog_main_timestamps .time {
  margin-left: 10px;
}

.blog_main_img {
  height: 125px;
}

.blogContainer {
  margin-top: 70px;
}
 .blog_section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} 

.blog_section .blogContainer_right {
  height: 100%;
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 100px;
  font-family: "Montserrat", sans-serif;
}

.blog_section .blogContainer_right .up {
  padding-bottom: 25px;
  border-bottom: 1px solid #dfdede;
}

.blog_section .blogContainer_right .up p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;

  margin-bottom: 15px;
  color: #292929;
  width: 100%;
}

.blog_section .blogContainer_right .up .sections {
  display: flex;
  flex-wrap: wrap;
}

.blog_section .blogContainer_right .up .sections .buttons {
  font-family: "Montserrat", sans-serif;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  margin: 5px 7px 5px 0px;
  transition: 0.2s ease;
  cursor: pointer;
}
.blog_section .blogContainer_right .up .sections .buttons:hover {
  background-color: #f3f3f3;
}

.blog_section .blogContainer_right .down {
  position: sticky;
  top: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.blog_section .blogContainer_right .down  .buttons {
  font-family: "Montserrat", sans-serif;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  margin: 2px 7px 2px 0px;
  transition: 0.2s ease;
  cursor: pointer;
} 
.footers{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #242424;
  height: 50px;
  margin-top: 100px;
}
.footers p{
  text-align: center;
  font-size: 13px;
  color: aliceblue;
}


/* this is the write page */


.head {
  display: flex;
  
  /* flex-direction: column; */
  padding: 4.0vw;
  background-color: #f24d2e;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 5vw;
}

.head-writing {
  /* width: 60%; */
  border-right: 1px solid #000;
}

h1.write-header {
  font-size: 7.3vw;
  letter-spacing: -3.2px;
  padding-right: 2vw;
}

p.pt1 {
  color: white;
  padding-bottom: 1.0vw;
}

p.pt2 {
  position: relative;
  margin-bottom: 2vw;
  padding-bottom: 1.5vw;
  color: #000;
  font-size: 18px;
  line-height: 127%;
  font-weight: 500;
  padding-top: 2vw;
  padding-right: 4vw;
}

.head-image {
  padding: 20px 10px;
  width: 40%;
}

.head-img {
  width: 40vw;
  align-items: flex-end;
  padding-bottom: 2vw;
}

button.start-writing {
  position: relative;
  cursor: pointer;
  border-radius: 21px;
  /* padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px; */
  -webkit-box-pack: center;
  justify-content: center;
  padding: 9px 28px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  /* background: #ffab9d; */
  background: #fff;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  /* background: #ffab9d; */
  background: #fff;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}


